/* THIRD PAGE CONTACT FORM */

.container {
	width:100%;
	margin:0 auto;
    position:relative;
    /* padding: 0; */
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: black;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:inherit;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
    /* background:linear-gradient(to right top, #A71930, #ad3a3a, #b84545, #c45050, #cf5b5c); */
    background-color: #A71930;
    border: #A71930;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
    /* background:linear-gradient(to right top, #A71930, #ad3a3a, #b84545, #c45050, #cf5b5c); */
    background-color: #A71930;
    border: #A71930;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


/* MONTHLY INSTALLMENTS */

.mdl-card{
    margin:0 auto;
  }
  
  .slider-label{
    color:#9E9E9E;
  }
  
  .tool-label{
    color:#00BCD4;
    font-size: 24px;
  }
  
  .installment-label{
    color:#FFFFFF;
    text-align:center;
  }
  
  .installment-value{
    color:#FFFFFF;
    text-align:center;
    font-size:28px;
  }
  
  .slider-value{
    font-weight:bold;
  }
  
  .installment-value{
    text-align:center;
    font-weight:bold;
  }
  
  .cyan {
      color:#FFFFFF;
      background-color: #2196F3;
  }
  
  /* ADDITIONAL EDITS */

  .mdl-card__supporting-text {
      width: 100%;
  }

  .mdl-card {
      width: 100%;
  }

/* NAVBAR-LOGO */
.navbar-brand img {
    transform: scale(.7);
    position: relative;
    left: -4rem;
    top: -3rem;
}

.gray-bg {
    background: white!important;
}


/* HOME/MAIN PAGE */
#hero {
    background: url(../images/heroimage.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}


/* SRP PAGE */
@media(min-width:768px){
    .used .container {
        display: flex;
    }

    .page-listing-summary-block {
        margin: 0;
    position: absolute;
    transform: translateY(50%);
    }
}

@media(max-width:768px){
.col_vimg img {
    width: 100%;
}

section.section-padding.gray-bg {
    padding: 5px;
}

.navbar .nav > li > a {
    color: white;
}
}

.srp_result_list .container {
    border: 1px solid #999;
}

a {
    /* color: grey!important; */
}

.srp-multiple-filter {
    /* border: 1px solid #F3F3F6; */
    background: #F6F6F6
}

.srp-detail-name {
    color:#06222e;
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.srp-detail-current-price {
    color: #1ca205;
    font-weight: 600;
    font-family: Lato;
    font-size: 24pt;
}

.srp-detail-mileage, .srp-detail-location, .srp-detail-phone, .srp-detail-calculator {
    color: #889397;
    font-family: Lato;
    font-size: 15pt;
}

.srp-detail-phone {
    font-size: 1.9rem;
}

.srp_result_list .col_m {
    text-align: left;
}

.srp_result_list .col_r {
    text-align: right;
}

/* SCROLLING BOX */
.scrolling-box {
    background-color: white;
    display: block;
    width: 100%;
    height: 200px;
    padding: 1em;
    overflow-y: scroll;
    text-align: center;
    border: 2px solid #e8e8e8;
  }

  .scroll-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  /* SEARCH FORM */



ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: rgba(0, 0, 51, 0.55);
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
}

ul.tabs li.current{
    background: #03202F; 
    color: #fff;
}

.tab-content{
    display: none;
    background: rgba(0,0,0, .4);
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

/* SEARCH FORM CENTERING */
#hero {
    position: relative;
}

#hero .container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
    max-width: 900px;
}

#hero select, #hero button, #hero input, button, .btn-primary {
    box-shadow: 0 8px 6px -7px black;
    border-radius: 5px!important;
}

#hero select, #hero input, #hero input::placeholder {
    text-align-last: center;
    color: black;
}

/*SRP page search bar */
.search-container {
    display: block;
    margin: 0 auto;
}
input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 14px;
    border: 1px solid #d0cfce;
    outline: none;
}
input#search-bar:focus {
    border: 1px solid #008abf;
    transition: 0.35s ease;
    color: #008abf;
}
input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}
.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    /* right: -45px; */
}


/* BUTTONS */
.btn-primary {
    /* background-image: linear-gradient(to right top, #A71930, #ad3a3a, #b84545, #c45050, #cf5b5c);
    border-color: transparent; */
    background-color: #A71930;
    border: #A71930;
}

footer a {
    color: white!important;
}

@media(max-width:992px){
/* #SERVICE img {
    height:100%;
} */

section.section-padding.gray-bg {
    padding: 5px;
}
}

.start-shopping-btn {
    padding: 1.0rem 1.5rem 1.7rem 1.5rem;
}

/* VDP SLIDER */
.flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
            tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .flickity-prev-next-button:hover { background: white; }
  
  .flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
  }
  
  .flickity-prev-next-button:active {
    opacity: 0.6;
  }
  
  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { right: 10px; }
  /* right to left */ */
  /* .flickity-rtl .flickity-prev-next-button.previous { */
  /*   left: auto; */
  /*   right: 10px; */
  /* } */
  /* .flickity-rtl .flickity-prev-next-button.next { */
  /*   right: auto; */
  /*   left: 10px; */
  /* } */
  
  .flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto;
  }
  
  .flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  .flickity-prev-next-button .arrow {
    fill: #333;
  }
  
  /* ---- page dots ---- */
  
  /* .flickity-page-dots { */
  /*   position: absolute; */
  /*   width: 100%; */
  /*   bottom: -25px; */
  /*   padding: 0; */
  /*   margin: 0; */
  /*   list-style: none; */
  /*   text-align: center; */
  /*   line-height: 1; */
  /* } */
  /*  */
  /* .flickity-rtl .flickity-page-dots { direction: rtl; } */
  /*  */
  /* .flickity-page-dots .dot { */
  /*   display: inline-block; */
  /*   width: 10px; */
  /*   height: 10px; */
  /*   margin: 0 8px; */
  /*   background: #333; */
  /*   border-radius: 50%; */
  /*   opacity: 0.25; */
  /*   cursor: pointer; */
  /* } */
  /*  */
  /* .flickity-page-dots .dot.is-selected { */
  /*   opacity: 1; */
  /* } */
  
  /* end external css: flickity.css */
  /*! Flickity v2.0.4
  https://flickity.metafizzy.co
  ---------------------------------------------- */
  
  * { box-sizing: border-box; }
  
  body { font-family: Lato }
  
  .carousel {
    background: #FAFAFA;
  }
  
  .carousel-main {
    margin-bottom: 8px;
  }
  
  .carousel-cell {
    width: 100%;
    height: 504px;
    margin-right: 8px;
    background: #fff;
    border-radius: 5px;
    /* counter-increment: carousel-cell; */
  }
  
  /* cell number */ 
  /* .carousel-cell:before { */
  /*   display: block; */
  /*   text-align: center; */
  /*   content: counter(carousel-cell); */
  /*   line-height: 200px; */
  /*   font-size: 80px; */
  /*   color: white; */
  /* } */
  
  .carousel-nav .carousel-cell {
    height: 90px;
    width: 120px;
  }
  
  /* .carousel-nav .carousel-cell:before { */
  /*   font-size: 50px; */
  /*   line-height: 80px; */
  /* } */
  
  /* .carousel-nav .carousel-cell.is-nav-selected { */
  /*   background: #ED2; */
  /* } */
  
  /* Atelierbram edit */
  .carousel-main img {
    display: block;
    margin: 0 auto; 
  }


  /* MAURICIO'S EDITS */
  .carousel-nav img {
      height: 90px;
  }

  .carousel-div {
    max-width: 100%;
    margin: 0 auto;
  }

  .iconify { width: 2.3rem; height: 2.5rem; }

  .vdp-vehicle-detail {
      background-color: #F6F6F6;
      margin-bottom: 2rem;
  }

  .vdp-vehicle-detail span{
    line-height: 2.4rem;
  }

  .vdp-vehicle-detail a {
      color: blue!important;
  }

  /* .padd5 {
      padding: 1rem;
  } */

  .filtertop {
      position: relative;
      float: right;
      max-width: 300px;
  }

  .active > a {
      color: #fff!important;
  }



  /* VDP CONTACT FORM */
  .contact-form-button-row {
      display: flex;
      justify-content: space-between;
  }

  .contact-form-button-row a {
      font-size: 1.4rem;
      color: #A71930!important;
  }

  #contact-submit {
      max-width: 200px;
  }

/* VDP CALCULATOR */
._4VZqPW {
    padding: 2rem 0;
}

._5pLDix {
    border: 1px solid #e4e4e4;
    color: #464646;
    padding: 0rem .9375rem .9375rem;
}

._5pLDix {
    background-color: #F3F8FE;
    border: 1px solid #e4e4e4;
    color: #464646;
}


._4PeXRW {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

._5fz6pN b {
    color: #209F0A;
    font-size: 3.375rem;
}

._3KkBm8 {
    font-size: 1.80625rem;
}

._4PbWDC {
    position: relative;
    margin-bottom: .3125rem;
    width: 100%;
}

._268SLz {
    color: #707070;
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1.2;
    margin: .5rem 0;
    max-width: 100%;
}

._4PbWDC ._8cBnB5 {
    background-color: #fff;
    border: 1px solid #c2ccd4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    padding: .625rem .3125rem .625rem .625rem;
    outline: none;
    cursor: pointer;
}

._4PbWDC ._8cBnB5:after {
    border: 4px solid transparent;
    border-top-color: #c2ccd4;
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 50%;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-top: -.125rem;
    content: "";
}

._4wQxGd ._48zhAM {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

._4wQxGd ._45DFij, ._2fwP1g ._45DFij {
    position: absolute;
    right: 0;
    line-height: 2;
}

._61sZ6K {
    background: transparent;
    color: #006598;
    font-size: 12px;
    font-weight: 700;
    border: none;
    padding: 0;
}

._4wQxGd._3CSuGb ._45DFij, ._2fwP1g._3CSuGb ._45DFij {
    font-size: .46875rem;
    line-height: 1;
}

.max-width-calculator {
    max-width: 455px;
    margin: auto;
}

._4yp5i2 input._5q7S4u {
    background-color: #fff;
    border: 1px solid #c2ccd4;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    display: block;
    padding: .625rem;
    width: 100%;
}

._5yVyi9._62QFsD {
    font-size: .875rem;
    padding: 1em 1.25em;
}

._5yVyi9._5ALSyT {
    width: 100%;
}

._5yVyi9.BEEmAQ, ._5yVyi9._3RfNrP {
    /* background: linear-gradient(to right top, #A71930, #ad3a3a, #b84545, #c45050, #cf5b5c); */
    color: #fff;
    background-color: #A71930;
}

._4wQxGd .KqE6Tu, ._2fwP1g .KqE6Tu {
    position: relative;
    padding: 0 0 1rem;
}


/* checkboxes */

._4wQxGd ._3B62wQ, ._2fwP1g ._3B62wQ {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

._4wQxGd ._3B62wQ .NTPT3d {
    cursor: pointer;
    padding: .3125rem .625rem .3125rem 1.5625rem;
    position: relative;
}

._4wQxGd ._3B62wQ .NTPT3d._4xajW7:before, ._2fwP1g ._3B62wQ .NTPT3d._4xajW7:before {
    background-color: #0277bd;
}

._4wQxGd ._3B62wQ .NTPT3d:before, ._2fwP1g ._3B62wQ .NTPT3d:before {
    background-color: #fff;
    border: 1px solid #c2ccd4;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    position: absolute;
    top: 50%;
    left: 0;
    height: 1em;
    width: 1em;
    margin-top: -.5em;
    content: "";
}

._3qGa9d {
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    color: #464646;
    padding: 1.875rem .9375rem .9375rem;
}



/* SEARCH FORM MAIN PAGE */

.buttonaaa {
    width: 25%;
}

/* Custom dropdown */
.custom-dropdown select, .custom-dropdown input {
    height: 50px;
    background: white;
    width: 24%;
}

button span {
    font-size: 1.6rem;
}

.custom-dropdown button {
    line-height: 1.9;
}


/* LATO */
h1 { font-family: Lato; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Lato; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Lato; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Lato; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.darken-span span {
    font-weight: 600;
}

.darken-span h5 {
    margin: 0px!important;
}

.vdp-vehicle-detail span {
    color: #333;
}

#contact {
    display: none;
}

section {
    margin-bottom: 30px;
}

.srp-detail-current-price span{
    color: #209F0A;
    font-size: 1.8rem;
}

.srp-detail-mileage {
    color: #030202;
    font-weight: 900;
    font-size: 15pt;
    padding-bottom: .6rem;
}

.srp-detail-location {
    color: #424242;
    font-style: italic;
}

.navbar-brand img {
    width: 100%;
}

.single_service h2 {
    color: #A71930;
    font-size: 16px;
}

.form-group {
    margin-bottom: 7px;
}

#search-form .row {
    margin-bottom: 5px;
}

#search-form h4 {
    text-align: left;
}

/* .ccheckbox_cont .col-sm-12 {
    width: 90%;
} */

.italic span {
    font-style: italic;
}

.vdp-vehicle-detail h5 {
    font-size: 18px;
    letter-spacing: 0;
}

.skill-home {
    margin-bottom: 0px;
}



.car-small-features li {
    font-size: 18px;
}

.flickity-slider img {
    width: 100%;
}


/* FINAL RESPONSIVENESS */

@media screen and (max-width: 768px){

    .custom-dropdown select, .custom-dropdown input {
        height: 40px;
        background: white;
        width: 100%;
    }

    section.row, .srp-multiple-filter { 
        width: 97%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    section.row, .srp-multiple-filter, section .row {
        margin-bottom: 2rem;
    }
    
    .col-sm-6 {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .col-md-7, .col-sm-6 {
        margin-bottom: 3rem;
    }
    
    #WORK .single_image {
        text-align: center;
        padding: 1rem 0;
    }
    
    .custom-dropdown {
        display: flex;
        flex-direction: column;
    }
    
    .buttonaaa {
        width: 100%;
    }
    
    .single_image img {
        width: 100%;
    }

    .skill-home .text-center {
        margin-bottom: 1rem;
    }

    .search-container {
        width: 100%;
    }

    .srp_result_list .col_r {
        text-align: center;
        padding: 2rem;
    }

    .custom-dropdown select, .custom-dropdown button, .custom-dropdown input {
        margin-top: 1rem;
    }

    .skill-home h4 {
        text-align: center;
    }

    header .navbar {
        padding-bottom: 0px;
    } 

    .services .single_service {
        display: flex;
    }

    .single_service a {
        width: 33%;
    }

    /* CARROUSEL */
    .carousel-main {
        height: 28rem!important;
    }

    .carousel-nav {
        display: none;
    }
}

@media(min-width:768px) and (max-width: 992px){
    .skill-home {
        /* margin-top: 10rem; */
    }

    .skill-home .skill-home-solid {
        display: flex;
    }

    .bbb {
        margin-top: 2rem!important;
    }

    #WORK .row, #SERVICE .row {
        display: flex;
    }

    #WORK img, #SERVICE img {
        width: 100%;
    }

        /* CARROUSEL */
        /* .carousel-main {
            height: 38rem!important;
        } */
}

@media(min-width:446px) and (max-width: 615px){
    .single_service img {
        height: 70px;
    }
}

@media(max-width: 444px){

    .services .single_service {
        display: inherit;
    }

    .container {
        /* padding: 0 5px; */
    }

    /* CARROUSEL */
    .carousel-main {
        height: 23rem!important;
    }
}

@media(max-width:444px){
    .navbar-brand img {
        /* transform: scale(.6);
        position: relative;
        left: -4rem; */
        top: -85px;
    }

    input::placeholder {
        display: none;
    }
}

@media(max-width:346px){
    .navbar-brand img {
        top: -65px;
    }
}

@media(min-width:768px){
    .navbar-brand img {
        transform: scale(1);
        position: relative;
        top: -2rem;
        left: 0;
    }
}

@media(min-width:768px) and (max-width:1000px){
    .carousel-col {
        width:100%!important;
    }
}


#SERVICE {
    max-width: 1000px;
    margin: auto;
}


/* TOGGLE SEARCH FORM */
@media(max-width:992px){
 #toggle-form {
     display: none;
 }

 #toggle-button {
     z-index: 1000;
     /* background: white; */
 }

 #search-form h4 {
     display: none;
 }
}

@media(min-width:992px){
    #toggle-button {
        display: none;
    }

    #toggle-form {
        position: sticky;
        top: 1.4rem;
    }
}

.btn-primary, .btn-primary:hover {
    /* background-image: linear-gradient(to right top, #A71930, #ad3a3a, #b84545, #c45050, #cf5b5c)!important;
    border-image: linear-gradient(to right top, #A71930, #ad3a3a, #b84545, #c45050, #cf5b5c)!important; */
    background:#A71930;
    border: #A71930;
}

/* SARAH'S FINAL EDITS */
#srp_results_cont {
    padding-right: 0px;
    padding-left: 0px;
    position: relative;
    top: -3rem;
}

.margin-toppy {
    padding-top: 2rem;
    max-width: 1500px;
    margin: auto;
}


               /* SRP Checkbox */
.srp-filter-checkboxes-row input[type=radio]{
    display: none;
}

.srp-filter-checkboxes-row input[type=radio]:checked + .whatever{
    background-color: #03202F;
    color: white;
}

.checkbox {
    padding: 0!important;
}

.whatever {
    border: 1px solid #ccc;
    margin: 0.4rem 0;
    padding: .6rem;
}

/* CARROUSEL AND DESCRIPTION */
@media(min-width:1100px){
    .veh-detail-col {
        display: flex;
    }

    .vdp-vehicle-detail {
        width: 33.3333%;
    }

    .pdextra {
        padding-top: 6rem!important;
    }

    .center80 {
        width: 80%;
        margin: auto;
    }
}

.pdd1 {
    padding: 1rem;
}



/* Defines the width of the carousel and centers it on the page */

  
  .slick-slide {
    margin: 3px;
    max-width: 650px;
  }

  .slick-slide img {
      width: 100%;
  }


.slick-next {
    position: absolute;
    left: 96%;
    top: 47%;
}

.slick-prev {
    position: absolute;
    right: 96%;
    bottom: 48%;
    z-index: 999999;
}

.slider-container {
    margin: 0!important;
    padding: 0!important;
}

.fa-caret-right, .fa-caret-left {
    color: white;
    opacity: .7;
    transform: scale(9);
}

@media(max-width: 450px){
    .fa-caret-right, .fa-caret-left {
        transform: scale(5);
    }
}

header {
    overflow: hidden;
}

.div-center {
    text-align: center;
    margin: auto;
}

.navyblue {
    color: #06222E;
}

.font-header3 {
    font-size: 2.2rem;
    font-weight: bold;
}

.car-path {
    background-color: #06222E;
    height: 2.5rem;
}

.optimizely-blue-border a {
    color:transparent;
    text-decoration: none;
}

.skill-home-solid h6 {
    margin-bottom: 2px;
    margin-top: 2px;
    color: #333;
    font-weight: 300;
    letter-spacing: 0;
}

.similar-vehicles-border {
    border: 1px solid #06222E;
}

/* JAN 2nd changes */
#WORK {
    max-width: 1200px;
    margin: auto;
}

.widget .social-network {
    padding: 0;
}

.form-horizontal .control-label {
    text-align: left;
}

.darken-span h4 {
    font-weight: 600;
    font-size: 20px;
}

.darken-span span {
    font-weight: 300;
}

.highlighted-features li {
    font-weight: 300;
}

.big-price span {
    font-size: 3.5rem;
}

.max1500 {
    max-width: 1450px;
    margin: auto;
}

@media(max-width:1450px){
    .max1500 {
        max-width: 1250px;
        margin: auto;
    }
}

.backg-lightgrey {
    background-color: #F6F6F6;
}

.scrolling-box h4 {
    text-align: left;
}

.similar-veh-price {
    font-weight: bold!important;
}

.optimizely-blue-border .price span {
font-size: 2.3rem;
}

.optimizely-blue-border .srp-detail-mileage span {
    font-size: 1.5rem;
}


@media(min-width:1500px){
    .optimizely-blue-border .col_r {
        position: relative;
        right: -170px;
    }
}

@media(max-width:992px){
    .similar-2per-row .col-md-3 {
        width: 50%!important;
    }
}

@media(min-width:768px) and (max-width:992px){
    .similar-2per-row .col-md-3 {
        width: 100%!important;
    }
}

@media(min-width:664px) and (max-width:768px){
    .similar-2per-row {
        display: inline-flex;
    }
}

@media(max-width:664px){
    .similar-2per-row {
        display: flex;
    }
}

.mabo4 {
    margin-bottom: 4rem;
}


/* Matt's edits */

@media(max-width:450px){
    #search-form .col-xs-6 {
        width: 100%;
        padding: 5px 0;
    }

    #search-form .col-xs-9 {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media(min-width:768px){
    .logo-carrouselpage {
        padding-top: 8px;
    }
}